.ReactTable .rt-tr {
    text-align: center !important;
}

.ReactTable .rt-tbody .rt-td,
.ReactTable .rt-thead .rt-th {
    border-right: 1px solid rgba(60, 59, 59, 0.2);
}

.ReactTable {
    border-right: 1px solid rgba(60, 59, 59, 0.2);
}

.ReactTable .rt-tbody .rt-tr-group {
    border-bottom: 1px solid rgba(60, 59, 59, 0.2);
}