.editHeader {
  background: #8f9bab;
  padding: 10px 20px;
  color: white;
  font-size: 18px;
}

.addItemContainer {
  padding: 20px;
  margin-top: 1px;
}

.inputContainer {
  display: flex;
  padding: 5px 0;

  input {
    margin-left: 1px;
    width: 300px;
  }

  textarea {
    width: 300px;
    height: 69px;
  }
}

.inputLabel {
  width: 125px;
}

.inputNote {
  color: gray;
  display: flex;
  font-size: 13px;
  
  >div {
    font-weight: 300;
    font-size: 12px;
    padding-left: 3px;
  }
}

.submitBtn {
  display: flex;
  justify-content: center;
  padding-top: 15px;

  input {
    background: #007bff;
    border-radius: 4px;
    font-size: 14px;
    border: 1px solid #007bff;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
  }

  input:disabled {
    background: #98b9dc;
    border: 1px solid #98b9dc;
    cursor: not-allowed;
  }
}